@import "../globalStyles.scss";

.Social-accounts{
    position: absolute;
    color: #fff;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(5px);
    padding: 1rem;
    left: 50vw;
    z-index: 100;
}